.main {
    width: 400px;
    height: 800px;
    position: relative;
    font-family: 'Nanum Gothic', sans-serif;
}

.title {
    width: 100%;
    height: 6%;
    font-size: 70%;
    margin-top: 20%;
    text-align: center;
}

.mid-title input[type=radio] {
    display: none;
}

.mid-title input[type=radio] + label {
    display: inline-block;
    cursor: pointer;
    height: 35px;
    width: 190px;
    text-align: center;
    font-size: 17px;
    border-bottom: solid;
}

.mid-title input[type=radio] + label {
    color: rgb(199, 199, 199);
}

.mid-title input[type=radio]:checked + label {
    color: rgb(0, 0, 0);
    font-weight: bold;
}

.title-left {
    width: 100%;
    height: 5%;
    font-size: 110%;
    margin-left: 15%;
}

.title-right {
    width: 100%;
    height: 5%;
    font-size: 110%;
    margin-left: 20%;
}

.Id {
    width: 340px;
    height: 47px;
    padding: 2%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 101%;
    margin-left: 2.5%;
    margin-top: 2%;
}

.Pw {
    width: 340px;
    height: 47px;
    padding: 2%;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 101%;
    margin-left: 2.5%;
    margin-top: 1%;
}

.button {
    width: 340px;
    height: 48px;
    margin-left: 6.5%;
    margin-top: 2%;
    background-color: black;
    border: white;
    color: white;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 105%;
    cursor: pointer;
}

.input-checkbox {
    margin-left: 12%;
    margin-top: 4%;
    color: rgb(177, 177, 177);
}

.input-checkbox input[type=checkbox] + label:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    left: 0;
    background-color: #f7f7f7;
    border-radius: 10px;
    margin-left: 6%;
    box-shadow: inset 0px 1px 1px 0px rgba(0,0,0,0.3), 0px 1px 0px 0px rgba(255,255,255,0.8);
}

.input-checkbox input[type=checkbox]:checked + label:before {
    content: "\2714";
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background: #2f87c1;
    text-align: center;
}

.input-checkbox input[type=checkbox] {
    display: none;
}

.idFind {
    margin-left: 8%;
    border: none;
    background-color: white;
    cursor: pointer;
    color: rgb(177,177,177);
    font-size: 15px;
}

.pwFind {
    border: none;
    background-color: white;
    cursor: pointer;
    color: rgb(177,177,177);
    font-size: 15px;
}

.yellow-button {
    margin-top: 7%;
    margin-left: 6%;
}

.yellow-button input[type="button"] {
    background: url(kakao_login.png) no-repeat;
    border: none;
    width: 400px;
    height: 60px;
    cursor: pointer;
}

.apple-button {
    margin-top: 1%;
    margin-left: 6%;
}

.apple-button input[type="button"] {
    background: url(apple_login.png) no-repeat;
    border: none;
    width: 400px;
    height: 60px;
    cursor: pointer;
}

.bottom {
    text-align: center;
    margin-top: 6%;
}

.sign-up-button {
    border: none;
    background-color: white;
    color: rgb(58, 58, 255);
    cursor: pointer;
    font-size: 15px;
}